@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-color: rgb(236, 239, 235);
  
  margin: 0;
  display: flex;
  /* align-items: flex-start; */  

}
/* navbar */
.navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  margin: 0px 15px 0px 15px;
  width: 70px;
  
  
}
body div div{
  padding-bottom: 20px;
  
}

body div div a{
  text-decoration: none;
  align-content: space-around;
  
}
body div div a:hover{
  background: #080081;
  color: #fff; 
  padding: 10px 10px 10px 12px;
}



/* fin navbar */
main {
  display: flex;
  flex-direction: row;
}
/* this is for covid tracker */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  text-align: center;
  width: 75%;
  height: 95%;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.totalcase {
  background-color: #ff00001c;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 50px 0px 50px;
}

.casestext {
  color: #080081;
  font-weight: 800;
}

.casesnumbers {
  font-size: 20px;
}

.activecase {
  background-color: #ffa50042;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 50px 0px 50px;
}


.recoveredcase {
  background-color: #56ff002b;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 50px 0px 50px;
}


.deathcase {
  background-color: #08a7f021;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 50px 0px 50px;
}

.todayChanges {
  background-color: white;
}

/* this is for top 10 countries */

.topcountries {
  width: 100%;
  height: auto;
}

.countries {
  list-style: none;
  gap: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px;
}

.countryflag {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.countrycard {
  border: 1px solid rgba(0, 0, 0, 0.24);
  background-color: white;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 0px rgb(0 0 0 / 10%), 0 6px 1px rgb(0 0 0 / 10%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.countryname {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* this is for dropdownmenu stats */

.casescontainer {
  margin-left: 50px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
}

.countrydata {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2px;
}

/* ajax table */
.display{
  font-size: 10px;  
  color: #080081; 
  
}
.titulo-tabla{
  color: #080081;
  
}
.card-body{
  width: 110%;
  background-color: #fff;
  
  justify-content: left;
  
}

.tableajax{
  width: 65%; 
  height: 480px;
  margin: 40px;
  background-color: #fff;
  border-radius: 5px;   
  
}

.imagetableajax{
  width: 30px;
  height: 18px;
}

/* fin ajax table */